<div class="header">
    <div class="content">
        <p class="logo brandon">AWANGA</p>
        <p class="byline brandon">THANK YOU FOR SIGNING UP</p>
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">
        <div class="mammoth">
            <span class="need brandon">LA MODE<br>DEVIENT<br>MEILLEURE</span>
        </div>
        <div class="share-wrap">
            <p class="why brandon">FAITES LE SAVOIR À VOS AMIS</p>
            <p class="title brandon">INVITEZ VOS AMIS ET GAGNEZ<br>JUSQU’À 50% DE RÉDUCTION SUR<br>VOTRE PREMIÈRE COMMANDE</p>
            <p class="subtitle brandon">C’est tout simple : partagez votre lien unique par mail,<br>Facebook ou Twitter, et soyez récompensé pour chaque<br>ami qui s’inscrit.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">VOTRE RÉDUCTION :</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">NOMBRE D’AMIS<br>VOUS AYANT REJOINT</p><p class="rewards">Réduction sur Awanga</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <%= stop["tooltip"].html_safe%>
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>Aucun</span> ami(s) … pour l’instant !</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">On se motive !</p>
    </div>
</div>